@font-face {
  font-family: 'FuturaPTLight';
  src: url('./fonts/FuturaPTLight.otf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'FuturaPTMedium';
  src: url('./fonts/FuturaPTLight.otf') format('truetype');
  font-weight: 300;
}
body {
  margin: 0;
  font-family: 'FuturaPTMedium', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1500px !important;
  }
}
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
input:focus{
  outline: 0 !important;
}

.input-container:focus-within label {
  transform: translate(0, 0) scale(0.6);
  color: #000;
}

.input-container .filled {
  transform: translate(0, 0) scale(0.6);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  left: 0;
}

.input-container input {
  height: 64px;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #000;
  background:transparent;
  border-radius:0;
  padding: 24px 0 4px 0;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input:focus {
  box-shadow: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.btn-secondary{
  background-color: #fff !important;
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  border-radius: 30px !important;
  padding: 15px 80px !important;
  border: 0 !important;
  text-align: center;
}
.btn-primary{
  background-color: #FF4B43 !important;
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  border-radius: 30px !important;
  padding: 15px 80px !important;
  border: 0 !important;
  text-align: center;
}
.link-text{
  text-decoration: underline;
  color: #fff;
}
.link-text:hover{
  text-decoration: underline;
  color: #fff;
}
h2{
  font-size: 60px !important;
}
h3{
  font-size: 40px !important;
}
/* HEADER */
.navbar-header{
  background-color: #FF4B43;
  height: 120px;
}
.header-logo{
  width: 150px;
  height: 100px;
  object-fit: contain;
}
.header-navbar{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  float: right;
  align-items: center;
}
.header-navbar-item{
  margin: 0 15px;
}
.header-navbar-item a{
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.header-navbar-item.active a{
  color: #fff;
}
.header-navbar-item a:hover{
  color: #fff;
  text-decoration: none;
}
/* FOOTER */
.navbar-footer{
  padding-top: 0 !important;
}
.navbar-footer .row{
  width: 100%;
  height: 250px;
}
.navbar-footer .footer-border-top{
  border-top: 1px solid #939090;
  height:20px !important;
}
.navbar-footer .col-md-3{
  display:flex;
  align-items: center;
  height: 190px;
}
.navbar-footer .col-md-12{
  height:60px;
}
.footer-navbar{
  list-style: none;
  padding:0;
  margin:0;
}
.footer-navbar-item:first-child{
  margin-bottom:20px;
}
.footer-navbar-item a{
  color: #939090;
  font-weight: 600;
  text-decoration: none;
}
.footer-navbar-item a:hover{
  color: #939090;
  font-weight: 600;
  text-decoration: none;
}
.footer-bottom{
  width:100%;
  height: 60px;
}
.footer-bottom p{
  float:left;
  margin:0;
  padding: 20px 0;
  color: #939090;
}
.footer-bottom p a{
  color: #939090;
  text-decoration: underline;
  font-weight:600;
}
.footer-bottom p a:hover{
  color: #939090;
  text-decoration: underline;
  font-weight:600;
}
.footer-bottom .footer-logo{
  float:right;
  height: 64px;
  padding: 20px 0;
}
/* HOME */
.home-banner{
  height: calc(100vh - 120px);
  background-color: #FF4B43;
  display: flex;
  align-items: center;
}
.home-banner .col-md-7{
  display: flex;
  align-items: center;
}
.home-banner h2{
  color: #000;
  margin-bottom: 40px;
  font-weight: 600;
}
.home-banner .link-text{
  margin-left: 40px;
}
.home-card{
  width:100%;
}
.home-intro{
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}
.home-intro h3{
  color: #000;
  margin-bottom: 40px;
  font-weight: 600;
}
.home-intro p{
  margin-bottom: 40px;
  font-size: 18px;
  font-family: 'FuturaPTLight', sans-serif !important;
}
.blood-icon-container{
  height: 100%;
  display: flex;
}
.blood-icon-inner-container{
  position: relative;
  width: fit-content;
  margin: auto;
}
.red-circle{
  position:absolute;
  top:0;
  right: -30px;
  width: 280px;
  height: 280px;
  background: #FF4B43;
  border-radius: 50%;
  z-index: -1;
}
.blood-icon{
  height: 330px;
}
/* CARD */
.card-banner{
  height: calc(100vh - 120px);
  background-color: #FF4B43;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-input-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-btn-container{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 740px;
  margin: auto;
  margin-top: 40px;
}
.card-btn-container button{
  margin-left: 20px;
}
.card-user-number{
  display:grid;
  width: 300px;
  margin: 0 20px;
}
.card-user-number label{
  font-size: 16px;
  font-weight: 600;
  color:#000;
}
.card-user-number input{
  font-size: 30px;
  width: 100%;
  background: transparent;
  color: #fff;
  font-weight: 600;
  border:0;
  border-bottom: 2px solid #000;
}
.card-user-number input::placeholder{
  color: #fff;
}
.card-pin-number{
  width: 400px;
  margin: 0 20px;
  display:flex;
  align-items: center;
  position:relative;
}
.card-pin-number label{
  font-size: 30px;
  font-weight: 600;
  color:#000;
  width: 200px;
  margin:0;
}
.card-pin-number input{
  border: 2px solid #000;
  font-size:30px;
  width: 45px;
  height: 64px;
  z-index: 99;
  background:transparent;
  text-align: center;
  color: #000;
  margin: 0 5px;
}
.card-pin-number input:focus{
  outline:0;
}
/* QUESTION */
#question-form{
  margin-top: -44px;
}
#question-form .input-container{
  margin-top: 20px;
}
#question-form .btn-secondary{
  width: fit-content;
  margin-top: 20px;
}
.question-text{
  width:50%;
  font-weight: 600;
  font-size: 18px;
  color:#000;
}
/* LOGIN */
#login-form{
  margin-top: -44px;
}
#login-form .input-container{
  margin-top: 20px;
}
#login-form .btn-secondary{
  width: fit-content;
  margin-top: 20px;
}
.login-text{
  width:50%;
  font-weight: 600;
  font-size: 18px;
  color:#000;
}
.login-text a{
  color: #fff;
  text-decoration: underline;
}
.btn-scroll{
  color: #000;
  font-weight: bold;
  font-size: 16px;
  background: transparent;
  border: 0;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 90px;
  right: -50px;
  display: flex;
  align-items: center;
}
.btn-scroll:focus{
  outline:0;
}
.btn-scroll div{
  width: 120px;
  height: 1px;
  background: #000;
  margin-left: 10px;
}
.demo { 
  width: 535px;
  height: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px );
  flex-direction: row;
  justify-content: center;
}
.demo .card{
  box-shadow: inset 0 0 0 1px rgba(white,0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  animation: none;
}
.demo .card {
  width:100%;
  height:100%;
  position: relative;
  overflow: hidden;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  box-shadow: 
    -5px -5px 5px -5px rgba(0, 0, 0, 0.5), 
    5px 5px 5px -5px rgba(0, 0, 0, 0.5), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  
  background-color: #FF4B43;
  transform-origin: center;
  
}
.demo .card:hover {
  box-shadow: 
    -20px -20px 30px -25px rgba(0, 0, 0, 0.5), 
    20px 20px 30px -25px rgba(0, 0, 0, 0.5), 
    -7px -7px 10px -5px rgba(0, 0, 0, 0.5), 
    7px 7px 10px -5px rgba(0, 0, 0, 0.5), 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.demo .card.active,
.demo .card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}
.demo .card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
}
.demo .card .card-inner{
  width:100%;
  height:100%;
}
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
#created-card{
  box-shadow: 0px 8px 15px #0000004D;
  width: 535px;
  transition: all 0.5s ease-in-out;
}
#created-card .card-top{
  background:#FF4B43;
  padding: 20px;
}
#created-card .card-logo{
  width: 200px;
}
#created-card .card-top p{
  margin: 0;
  margin-top: 30px;
  font-size: 22px;
  color: #000;
  font-weight: 400;
}
#created-card .card-top h2{
  color: #fff;
  line-height: 1.1;
  font-size: 34px !important;
  font-weight: 600;
  margin: 0;
}
#created-card .card-bottom{
  padding: 20px;
  background: #fff;
}
#created-card .card-bottom p{
  margin: 0;
  font-size: 24px;
  line-height: 1.1;
}
#created-card .card-bottom p b{
  font-weight:bold;
}
.btn-edit-card{
  position: absolute;
  right: 0;
  color: #FF4B43;
  text-decoration: underline;
}
.btn-edit-card:hover{
  color: #FF4B43;
}
.card-right-container .btn-secondary{
  width: 50%;
  padding: 15px 0 !important;
  text-decoration: underline;
  font-size: 18px !important;
}
.card-right-container .btn-primary{
  width: 50%;
  padding: 15px 20px !important;
  font-size: 18px !important;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
background-color: transparent;
width: 535px;
height: 373px;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
transition: transform 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
transform: rotateY(180deg);
}
#created-card-back{
  height: 100%;
  padding: 20px;
  box-shadow: 0px 8px 15px #0000004D;
  background: #fff;
}
#created-card-back label{
  margin:0;
}
#created-card-back h4{
  margin-bottom:40px;
}
#created-card-back .card-info-container{
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
#created-card-back .card-info-container label{
  font-weight: 300;
  font-size: 20px;
}
#created-card-back .card-info-container span{
  font-size:20px;
  font-weight: bold;
  margin-left: 5px;
}
#created-card-back .card-info-container-reason{
  padding: 5px 0;
  height: 120px;
  border-bottom: 1px solid #ddd;
  position:relative;
}
#created-card-back .card-info-container-reason:after{
  content: '';
  height: 40px;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#created-card-back .card-info-container-reason label{
  font-size:20px;
  font-weight:300;
}
#created-card-back .card-info-container-reason span{
  font-size:20px;
  font-weight:bold;
  line-height: 1.9;
}
#created-card-back .label-red{
  color: #FF4B43;
  font-weight: bold !important;
  font-size:16px;
}
#created-card-back .label-gray{
  color: #939090;
  font-weight: 300;
  font-size: 15px;
}
#created-card-back .label-gray a{
  color: #939090;
  font-weight: normal;
}
#created-card-back .card-info-logo{
  padding-left: 40px;
  display: flex;
  align-items: end;
}
#created-card-back .card-info-logo img{
  width:100%;
}
#recover-pin-modal .btn-close{
  display:none;
}
#recover-pin-modal .modal-footer button{
  width:50%;
  margin: 0;
}
#recover-pin-modal .card-user-number{
  margin: 0;
  width: 100%;
}
#recover-pin-modal .card-user-number input{
  color: #000;
}
#recover-pin-modal .card-user-number input::placeholder{
  color: #939090;
}
.link-text-open-modal{
  font-size:16px !important;
  font-weight:normal !important;
  color:#fff !important;
  text-decoration: underline;
  padding:0 !important;
  margin:0;
}
.card-error p{
  width: 740px;
  height: 64px;
  margin: auto;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  color: #FF4B43;
  font-weight: bold;
}
.showMobile{
  display:none !important;
}
.open-menu-mobile{
  display:none !important;
}
@media screen and (max-width: 600px) { 
  .card-btn-container{
    width: 100%;
    justify-content: left;
  }
  .card-btn-container .btn-secondary{
    width: 50%;
  }
  .card-btn-container .btn-secondary{
    margin:0;
  }
  .card-input-container{
    display:block;
  }
  .card-user-number{
    margin:0;
    width: 100%;
  }
  .card-pin-number{
    width: 100%;
    margin: 0;
    margin-top: 20px;
    display: block;
  }
  .card-pin-number label{
    width:100%;
  }
  .card-right-container{
    width:100% !important;
  }
  .card-right-container .btn-primary{
    width:50% !important;
    margin:0 !important;
  }
  .card-right-container .btn-secondary{
    padding: 0 10px !important;
  }
  .home-intro{
    display:block;
    height: auto !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .home-intro .btn-primary{
    width:100%;
  }
  .home-intro h3 {
      margin-top: 40px;
  }
  .btn-primary{
    padding: 10px 30px !important;
  }
  .btn-secondary{
    padding: 10px 30px !important;
  }
  .showMobile{
    display:block !important;
  }
  .hideMobile{
    display:none !important;
  }
  .modal{
    width: 100vw !important;
    height: 100vh !important;
  }
  body{
    padding-right:0 !important;
  }
  .header-navbar{
    display:none;
  }
  .menu-mobile{
    position: fixed;
    top: 0;
    left: 100%;
    width: calc(100vw - 20%);
    height: 100vh;
    background: #fff;
    z-index: 99;
    padding: 20px;
    padding-top: 80px;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-mobile ul{
    list-style:none;
    padding:0;
  }
  .menu-mobile ul .header-navbar-item{
    margin:0;
    text-align: right;
    font-size:30px;
    font-weight: 600;
  }
  .header-navbar-item.active a{
    color: #FF4B43;
  }
  .open-menu-mobile{
    display: grid !important;
    border:0;
    background:transparent;
  }
  .close-menu-mobile{
    position: absolute;
    right: 20px;
    top: 20px;
    display: grid;
    border:0;
    background:transparent;
  }
  .open-menu-mobile:focus,
  .close-menu-mobile:focus{
    outline:0;
  }
  .open-menu-mobile img,
  .close-menu-mobile img{
    margin:auto;
  }
  .open-menu-mobile span{
    font-size:10px;
    color:#000;
  }
  .close-menu-mobile span{
    font-size:10px;
    color:#B1A1A1;
  }
  .home-banner{
    height: fit-content;
  }
  .home-banner .col-md-7 h2{
    font-size: 40px !important;
    margin-top: 40px;
  }
  .home-banner .col-md-5 .showMobile{
    display: flex !important;
    margin-bottom:40px;
  }
  .home-banner .col-md-5 .showMobile a{
    width: 50%;
  }
  .demo{
    width: 100%;
    height: calc((100vw - 30px) / 1.44);
    margin-bottom: 40px;
  }
  .demo .card-inner{
    background-size: contain;
  }
  .btn-scroll{
    display:none;
  }
  .navbar-footer .row{
    width: auto;
    height: auto;
  }
  .navbar-footer .col-md-3{
    height: auto;
  }
  .navbar-footer .footer-border-top{
    border:0;
  }
  .navbar-footer .footer-border-top div{
    border-top: 1px solid #939090;
  }
  .navbar-footer .footer-menu-item a{
    font-size:18px;
    color: #939090;
    display:block;
    margin: 5px 0;
    font-weight: 600;
  }
  .navbar-footer .footer-bottom{
    padding:0 16px;
  }
  .navbar-footer .footer-bottom .footer-logo{
    float: unset;
    height: 24px;
    margin-top: 40px;
    padding:0;
  }
  .navbar-footer .footer-bottom p{
    float: unset;
    padding-top:10px;
  }
  .navbar-header{
    height: 100px;
  }
  .header-logo{
    height: 80px;
  }
}